
#load_screen{
	background: #000;
	opacity: 1;
	position: fixed;
    z-index:10;
	top: 0px;
	width: 100%;
	height: 1600px;
}
#load_screen > #loading{
	color:#FFF;
	width:120px;
	height:24px;
	margin: 300px auto;
}



.row{
    padding-top: 60px;
}
.progress{

 color: black;   
}

.col-md-3{
    
    height: 500px;
    width:300px;
      
}

.aboutme{
    
padding-top: 35px;
text-align: center;

}

h1.gay{
    font-family: 'Pacifico', cursive;
    color:#1E2B1E;
    padding-top: 50px;
    padding-bottom: 15px;
   text-align: center;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; 
}
span.introo{
         text-shadow: -1.5px 0 #2C6262, 0 1.5px #2C6262, 1.5px 0 #2C6262, 0 -1.5px #2C6262;
}
span.introvic{
         text-shadow: -1.5px 0 #2C6262, 0 1.5px #2C6262, 1.5px 0 #2C6262, 0 -1.5px #2C6262;
        font-size: 20px;
}
a.swag
{

    background-color:#2B9B9B;
    color:antiquewhite;
   font-family: 'Lato', sans-serif;
    font-weight:100;
        -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; 
    border-radius: 0;
    
   <!-- border-color: -->
}


a.circle{


    padding-bottom: 10px;
    border-color: #1E2B1E;
 
font-size: 24px;
       background-color:#1E2B1E;
    color:antiquewhite;
   font-family: 'Lato', sans-serif;
    font-weight:100;
        -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; 
         
  
       
}

a.swag:hover{

    opacity: 0.8;
background-color:white ;
color:#1E2B1E;
  
}



body {

}


.navbar-default:hover
.navbar-nav>li>a:hover{
    color:#2B9B9B;
     -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; 
}


.navbar-default:hover
.navbar-brand:hover
{
    color:#2B9B9B;
     -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; 
}


@media (min-width:1200px){
.container {
    width: 1000px;
 }
}

@media (min-height:1200px){
.container {
    height: 900px;
 }
}

.jumbotron{
    background-image: url("images/stars2.jpg");
    background-size:cover;
    box-shadow:0px 0px 100px 30px #002549;
    height:550px;
}


h1:hover{
    
 color:antiquewhite;
    text-shadow: -1.5px 0 #2C6262, 0 1.5px #2C6262, 1.5px 0 #2C6262, 0 -1.5px #2C6262;
    


}
p{
    color:darkslategray;
    
}
h2{
    color:#2B9B9B;
    font-family: 'Pacifico', cursive;
        -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; 
    
}

h2:hover{
    
    color: aliceblue;
}

p.intro{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: antiquewhite;
   
}

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
 background-color:white;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-image: url(images/bkgd.jpg);
    background-size: cover;
    background-color: rgb(69, 157, 203);

    
  
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



.carousel-indicators li {
  background-color: #669966;
}
.carousel-indicators .active {
  background-color: #FF7600;
}

.feet{
background-color: rgb(69, 157, 203);
    
}
#circle {
    padding-left: 50;
	width: 240px;
	height: 240px;
	background-image: url("images/me.jpg");
    background-size:cover;
    
	border-radius: 120px;
    border: 2px solid #98DADA;
    
}



