


#load_screen{
	background: #000;
	opacity: 1;
	position: fixed;
    z-index:10;
	top: 0px;
	width: 100%;
	height: 1600px;

}
#load_screen > #loading{
	color:#FFF;
	width:120px;
	height:24px;
	margin: 300px auto;
}
body{
 background-color: rgb(234, 255, 255);
    
}

section.me{
    background-color:rgb(234, 255, 255);
    height:350px;
}

.row{
    padding-top: 60px;
}
.progress{

 color: black;   
}

.col-md-3{
    
    height: 300px;
    width:300px;
      
}

.aboutme{

text-align: center;

}

h1.gay{
    font-family: 'Pacifico', cursive;
    color:whitesmoke;
    margin-top: 15%;
    font-size:78px;
     text-shadow: -1.5px 0 #2C6262, 0 1.5px #2C6262, 1.5px 0 #2C6262, 0 -1.5px #2C6262;
   text-align: center;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; 
}

h1:hover{
    
 color:#2C6262;
    text-shadow: -1.5px 0 antiquewhite, 0 1.5px antiquewhite, 1.5px 0 antiquewhite, 0 -1.5px antiquewhite;
     
}
span.introo{
    padding-top: 20px;
         text-shadow: -1.5px 0 #2C6262, 0 1.5px #2C6262, 1.5px 0 #2C6262, 0 -1.5px #2C6262;
        font-size:30px;

}
span.introvic{
         text-shadow: -1.5px 0 #2C6262, 0 1.5px #2C6262, 1.5px 0 #2C6262, 0 -1.5px #2C6262;
        font-size: 26px;
}
a.swag
{

    background-color:rgb(213, 131, 96);
    color:antiquewhite;
   font-family: 'Lato', sans-serif;
    font-weight:100;
        -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; 
    border-radius: 0;
    border-width: 2px;
   border-color: darkslategray; 
}


a.circle{


    padding-bottom: 10px;
    border-color: #1E2B1E;
 
font-size: 24px;
       background-color:#1E2B1E;
    color:antiquewhite;
   font-family: 'Lato', sans-serif;
    font-weight:100;
        -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; 
         
  
       
}

a.swag:hover{

    opacity: 0.8;
background-color:white ;
color:#1E2B1E;
  
}

@media (min-width:1200px){
.container {
    width: 1000px;
 }
}

@media (min-height:1200px){
.container {
    height: 900px;
 }
}

.jumbotron{
    background-image: url("images/tron1.jpg");
    background-size:cover;
    height:38vw;
    box-shadow: 0px 10px 25px 0px darkslategrey;
    
}

.introo{
height:30vw;
}


p{
    color:darkslategray; 
}

h2{
    color:#2B9B9B;
    font-family: 'Pacifico', cursive;
        -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; 
    
}

.art{
    background-color: white;
    
    box-shadow: 3px 3px 3px darkslategray;
}

h2:hover{
    
    color: aliceblue;
}

p.intro{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: antiquewhite;
   
}

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
 background-color:white;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-image: url(images/tron3.jpg);
    background-size:cover;
    background-color: rgb(69, 157, 203);

    
  
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



.carousel-indicators li {
  background-color: #669966;
}
.carousel-indicators .active {
  background-color: #FF7600;
}

.feet{
background-color: darkslategrey;
    
}
#circle {
    padding-left: 50;
	width: 240px;
	height: 240px;
	background-image: url("images/me.jpg");
    background-size:cover;
    
	border-radius: 120px;
    border: 2px solid #98DADA;
    
}

.get {
	display:none;
}

#diagram {
	float:left;
	width:600px;
	height:600px;
}

.skilllist{

margin-top: 50%

    
}

ul
{
    list-style-type: none;
}
li{
  width:100px;
  clear: both;
  line-height: 35px;
  color: white;
  margin-bottom: 1px;
  font-size: 18px;
}

li.C{
background: #BEDBE9;
}
li.Java{
    background: #FFD699;
}
li.Python{
    background: #88B8E6;
}
li.HC{
background: #003D5C;
}
li.blank{
    background: rgb(213, 131, 96);
}