
html,body{
  width:100%;
  height:100%;
  
}


body {
  background-color: #dbdbdb;
  padding: 50px;
}

.container-outer{
    
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
    font-family: 'Courier', cursive;
  border: 2px solid;
  border-bottom-color: lightcoral;
  border-right-color: lightcoral;
  border-left-color: #dbdbdb;
  border-top-color: #dbdbdb;
  background-color:   #ffe6ee;
  max-width: 700px;
  font-size: 13px;
  padding: 2px;

    
}
.container ul.toolbar {
  list-style: none;
  padding: 2px 0;
  margin: 0;
}
.container ul.toolbar li {
  display: inline-block;
  padding: 2px 5px;
  color: #808080;
  font-size: 15px;
}
.container .container-inner {
  border: 2px solid;
  border-bottom-color: #c7c7c7;
  border-right-color: #c7c7c7;
  border-left-color: #808080;
  border-top-color: #808080;
  background-color: #fff;
  padding: 20px 10px;
  font-size: 20px;
  background-color: #fff8f8;
}
.container .container-inner ul.icons {
  list-style: none;
  padding: 2px 0;
  margin: 0;
}
.container .container-inner ul.icons li {
  padding: 5px 20px;
  color: #808080;
  display:inline-block;
}

.title {
  background-color: #b3d9ff;
  padding: 2px 4px 3px 4px;
  position: relative;
}
.title h1 {
  font-weight: bold;
  color: white;
  font-size: 17px;
  margin: 0;
}
.title button {
  border: 2px solid;
  border-bottom-color: #444;
  border-right-color: #444;
  border-left-color: lightcoral;
  border-top-color: lightcoral;
  background-color: #ffe6ee;
  position: absolute;
  font-size: 9px;
  line-height: 0;
  padding: 1px;
  height: 15px;
  width: 15px;
  top: 2px;
}
.title button.minimize {
  right: 34px;
}
.title button.expand {
  right: 18px;
}
.title button.times {
  right: 2px;
}



/*
@media screen and (min-width: 875px) {
    html,body{
        background-image: url("succ.jpg");
        background-size: 100%; 
    }
}
*/

@media screen and (max-width: 875px) {
    html,body{
        background-color: white;
    }
}

.folder
{
    display:block;
    margin:0 auto;
    width: 50px;
}

.box{
    padding-top:10%;
}
h1{
  color:paleturquoise;
  text-align: center;
    font-size: 2em;
    font-family: 'Courier', sans-serif;
  filter:alpha(opacity=100);/*position where      
  enlarged image should offset horizontally */
  -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


span, p{
  color: lightgreen; 
    text-align: center;
  font-family: 'Courier', cursive;
  font-size: 1em;
  margin: 10px 0 0 10px;
}

span{
    font-size:1em;
    text-align: center;
}
a{
  text-decoration: none;
  color:#808080;
}
a:hover{
    color:#b3d9ff; 
    
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.links
{
    margin: 30px;
    text-align: center;
}

.main {
  width:60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: 1px white solid;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  font-size: inherit;
  font-weight: 700;
  vertical-align: middle;
}


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 1;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.fade-in.two {
  -webkit-animation-delay: 2s;
  -moz-animation-delay:2s;
  animation-delay: 2s;
}

.fade-in.three {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}
.fade-in.four {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
}
.fade-in.five {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s;
}
.fade-in.six {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s;
}
